<div class="container">
    <app-header></app-header>
    <div class="list">
        <div class="header">
            <button mat-raised-button routerLink="/form" color="primary">
              <mat-icon>add</mat-icon>
              Créer un article
            </button>
            <button mat-raised-button (click)="sortArticles()">
              <mat-icon>sort</mat-icon>
              Trier par
            </button>
          </div>
          <mat-card-title *ngIf="(feed$ | async)?.['length']">Abonnements</mat-card-title>
        <mat-card *ngFor="let topic of (feed$ | async) | keyvalue">
            <mat-card-title>{{ topic.key }}</mat-card-title>
            <mat-card-content class="items">
                <div class="item" *ngFor="let article of topic.value">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ article.title }}</mat-card-title>
                            <mat-card-subtitle>
                                Article créé le {{ article.createdAt | date: 'dd/MM/yy, à HH:mm'}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ truncateContent(article.content) }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" [routerLink]="[article.id]">
                                <mat-icon>search</mat-icon>
                                <span class="ml1">Detail</span>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card-title *ngIf="(articles$ | async)?.['length']">Tous les articles</mat-card-title>
        <mat-card-title *ngIf="!(articles$ | async)?.['length']">Pas d'articles pour le moment</mat-card-title>
        <div class="items" >
            <div class="item" *ngFor="let article of (articles$ | async)">
                <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ article.title }}</mat-card-title>
                    <mat-card-subtitle>
                        Article créé le {{ article.createdAt | date: 'dd/MM/yy, à HH:mm'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ truncateContent(article.content) }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="[article.id]">
                        <mat-icon>search</mat-icon>
                        <span class="ml1">Detail</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        </div>
    </div>
</div>