<div *ngIf="!loading" class="container">
    <app-header></app-header>
    <div class="list">
        <div class="header">
            <button mat-raised-button routerLink="/form" color="primary">
                <mat-icon>add</mat-icon>
                Créer un article
            </button>
            <button mat-raised-button class="button" (click)="changeSortBy()">
                Trier par 
                <mat-icon>{{ sortBy === 'dateDesc' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
            </button>
        </div>
        <mat-card-content *ngIf="feed?.['length']" class="items">
            <div class="item" *ngFor="let article of feed | sortBy: sortBy">
                <mat-card [routerLink]="[article.id]">
                    <mat-card-header>
                        <mat-card-title>{{ article.title }}</mat-card-title>
                    </mat-card-header>
                    <div class="subtitle">
                        <p> <b>Créé le:</b> {{ article.createdAt | date: dateFormat}}</p>
                        <p> <b>Auteur:</b> {{article.authorUsername}} </p>
                    </div>
                    <mat-card-content>
                        <p>
                            {{ truncateContent(article.content) }}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </div>
</div>
<div *ngIf="loading">
    <app-header></app-header>
    <mat-spinner></mat-spinner>
</div>