<div class="container">
    <app-header></app-header>
    <div class="list">
        <button mat-raised-button color="primary" routerLink="/form">
            <mat-icon>add</mat-icon>
            <span class="ml1">Créer un article</span>
        </button>
        <mat-card-title>Articles from feed</mat-card-title>
        <mat-card *ngFor="let topic of (feed$ | async) | keyvalue">
            <mat-card-title>{{ topic.key }}</mat-card-title>
            <mat-card-content>
                <div class="item" *ngFor="let article of topic.value">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ article.title }}</mat-card-title>
                            <mat-card-subtitle>
                                Session created {{ article.created_at | date: 'longDate'}}
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ article.content }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" [routerLink]="[article.id]">
                                <mat-icon>search</mat-icon>
                                <span class="ml1">Detail</span>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card-title>All articles</mat-card-title>
        <div class="" fxLayout="row wrap" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let article of (articles$ | async)" fxFlex>
                <mat-card-header>
                    <mat-card-title>{{ article.title }}</mat-card-title>
                    <mat-card-subtitle>
                        Session created {{ article.created_at | date: 'longDate'}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ article.content }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" [routerLink]="[article.id]">
                        <mat-icon>search</mat-icon>
                        <span class="ml1">Detail</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>