<div class="container">
    <app-header></app-header>
    <div class="page">
        <button mat-icon-button routerLink="/">
            <mat-icon aria-hidden="false" aria-label="Home" fontIcon="arrow_back" class="icon"></mat-icon>
        </button>
        <img src="/assets/logo_p6.png" alt="logo" />
        <mat-card-title>Se connecter</mat-card-title>
        <div class="form-container">
            <form class="form" [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Entrer votre mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <button mat-raised-button color="primary" class="full-width">Login</button>
                <p *ngIf="errorMessage.length > 0" class="error">{{errorMessage}}</p>
            </form>
        </div>
    </div>
</div>