img {
  width: 150px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px;
  border-bottom: 1px;
  margin-bottom: 10px;
  border-style: solid;
  width: 100%;
}

.header-actions {
  display: flex; 
  align-items: center;
  gap: 16px; 
  margin-right: 50px;
}
