img {
  width: 150px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 16px;
  border-bottom: 2px;
  width: 100%;
}

.header-actions {
  display: flex; 
  align-items: center;
  gap: 16px; 
  margin-right: 50px;
}
