<div class="header-container">
    <a routerLink="/articles">
        <img src="/assets/logo_p6.png" alt="logo" />
    </a>
    <div class="header-actions" *ngIf="isAuthenticated()">
        <button mat-button [color]="isOnArticlesPage() ? 'accent' : 'primary'" routerLink="/articles">Articles</button>
        <button mat-button [color]="isOnThemesPage() ? 'accent' : 'primary'" routerLink="/themes">Themes</button>
        <button mat-icon-button [color]="isOnUserPage() ? 'accent' : 'primary'" routerLink="/user">
            <mat-icon>person</mat-icon>
        </button>
    </div>
    <button mat-icon-button class="mobile-menu-icon" (click)="toggleDrawer()" *ngIf="isAuthenticated()">
        <mat-icon>menu</mat-icon>
    </button>
</div>
