.user-infos {
  text-align: center;
}
mat-card {
    margin: 16px;
    box-shadow: none;

    .user-content {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    mat-form-field {
      width: 40%;
    }
  
    button {
      margin-top: 8px;
    }
  }

  .topic-item {
    display: grid;
    justify-items: center;
    grid-template-rows: 20% 50% 30%;
    background-color: rgb(228, 228, 228);
    margin: 8px;
    padding: 8px;
    height: 160px;
    button{
      width: 140px;
    }
  }
  
  mat-grid-list {
    width: 100%;
  
    mat-grid-tile {
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: translateY(-5px);
      }
  
      mat-card {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
  
        &-title {
          font-size: 16px;
        }
  
        &-content {
          font-size: 14px;
        }
  
        button {
          margin-top: 12px;
        }
      }
    }
  }
  