.user-infos {
  text-align: center;
}
mat-card {
  margin: 16px;
  box-shadow: none;

  .user-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-form-field {
    width: 40%;
  }

  button {
    margin-top: 8px;
  }
}

.list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.item {
  margin: 10px;
  justify-items: center;
  display: grid;
  grid-template-rows: 15% 50% 35%;
  background-color: rgb(228, 228, 228);
}

@media (max-width: 640px) {
  .list {
    grid-template-columns: 100%;
  }
  mat-card {
    mat-form-field {
      width: 90%;
    }
  }
}

@media (max-width: 375px) {
  .item {
    display: grid;
    grid-template-rows: 15% 60% 25%;
  }
}
