<app-header></app-header>
<mat-card class="user-infos">
    <mat-card-title>Profil utilisateur</mat-card-title>
        <div class="user-content" *ngIf="user">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="user.username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="email@email.fr" [(ngModel)]="user.email">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Mot de passe</mat-label>
              <input matInput readonly onfocus="this.removeAttribute('readonly');" [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <p *ngIf="errorMessage.length > 0" class="error">{{errorMessage}}</p>
            <button mat-raised-button color="primary" (click)="saveInfos()">Sauvegarder</button>
            <button mat-button color="warn" (click)="logOut()">Se déconnecter</button>
        </div>
  </mat-card>
  <mat-card>
    <mat-card-title>Abonnements</mat-card-title>
    <div class="list">
      <mat-card class="item" *ngFor="let topic of topics">
        <mat-card-header>
          <mat-card-title>{{ topic.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ topic.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="unsubscribe(topic.id)">Se désabonner</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>