.form {
  width: 300px;
  margin: auto;
}

img{
  display: none;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container {
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 426px) {
  .form {
    width: 80%;
    margin: auto;
  }
  app-header {
    display: none;
  }
  img{
    display: block;
    width: 100%;
  }
}
